.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
}

.fLists{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.fList{
    list-style: none;
    line-height:25px;
    color: white;
}

.fListItem{
    cursor: pointer;
    color:white;
    font-size: 12px;

}

.fListItem:hover{
color:red;
font-size: 15px;
}